@tailwind base;
@tailwind components;
@tailwind utilities; 

:root{
  --primory-text-color:#3a3939 ;
  --secondary-text-color: #ffffff;
  --toggle-bg:#f0eb9d;
  --toggle-fg:#ffd000;
}

   body{
    overflow-x: hidden;
    background: linear-gradient(118deg, rgba(255,255,255,1) 7%, rgba(187,212,240,1) 22%, rgba(198,221,246,1) 38%, rgba(255,255,255,1) 55%, rgba(230,239,248,1) 71%, rgba(201,220,241,1) 88%, rgba(138,185,237,1) 100%);
  }
 
  [data-theme="dark"]{
    background: linear-gradient(118deg, rgba(0,0,0,1) 7%, rgba(30,68,108,1) 22%, rgba(0,0,0,1) 38%, rgba(79,118,159,1) 55%, rgba(0,0,0,1) 71%, rgba(79,118,159,1) 100%);
    color: var(--secondary-text-color);
  }